<html>
  <head>
    <title>Добавление товара</title>
    <meta charset="utf-8">
  </head>
  <body>
    <form method="post" action="/add/product">
      <input type="text" name="title" placeholder="Название"><br>
      <textarea name="about" placeholder="Описание"></textarea><br>
      <input type="number" name="price" placeholder="Цена"><br>
      <input type="submit" value="Добавить товар">
    </form>
  </body>
</html>