<html>
  <head>
    <title>
      Welcome page
    </title>
  </head>
  <body>
    <h1>Hello!</h1>
    <p>
      This is shop!
    </p>

    <p>
      <a href="/products">Here is products list</a>
    </p>
  </body>
</html>
